button{
    padding: 15px 30px;

    font size: 25px;

    border-radius: 25px;

    cursor: pointer;

    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

    border-width: 3px;
}

.black {
    color: white;
}





  
 



